# Dependencies
node_modules

# Build outputs
dist
dist-ssr
.next
out

# Environment
*.local
.env
.env.*

# Turbo
.turbo

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
